html, body, figure {
    margin: 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none;
}

body {
    background-color: #f6f6f4;
    margin: 72px 20px 10px;
}

h1, ul {
    margin: 0px;
    transition: transform .3s;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: #000 solid 1px;
    z-index: 10000;
    height: 60px;
    top: 0;
    left: 1.5%;
}

#logo {
    font: 1.2rem 'Chau Philomene One', sans-serif;
    font-family: "afronaut", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

nav {
    flex-basis: 700px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    margin-top: 10px;
}
nav ul li {
    font: 1.2rem 'Roboto', sans-serif;
}

main {
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    margin-bottom: 30px;
}

.container p {
    font: 2.5rem 'Raleway', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.text-left {
    position: relative;
    left: 100px;
    z-index: 500;
    flex: 3
}

.text-right {
    position: relative;
    right: 120px;
    z-index: 500;
    flex: 3 
}

.text-last {
    width: 45%;
}

.img-container {
    display: flex;
    flex: 1.2;
}

.img-container img {
    align-self: center;

}

.pic-0 {
    width: 80%;
    opacity: 70%;  
}

.pic-1 {
    width: 80%;
    opacity: 70%;  
}

.poop {
    width: 100%;
    align-self: center;
}

.pic-2 {
    width: 60%;
    position: relative;
    right: 122%;
    top: 60%;
    opacity: 60%;
}

.pic-4 {
    width: 60%;
    position: relative;
    right: 20%;
    top: 56%;
    opacity: 70%;
}


img:hover {
   opacity: 1;
}

figcaption  {
    font: 1em Helvetica, sans-serif;
    letter-spacing: 2px;
    width: fit-content;
    padding: 5px;
}

/* figcaption a {
    color: #fff;
} */

footer {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 940px) {
    html {
     font-size: 12px;
    }

    main {
        margin: 0;
        /* height: 3500px; */
    }

    #hero p {
        width: 70%;
        margin-left: 30px;
    }

    /* figure img {
        width: 100%;
    } */

    #pic-1 img {
        opacity: 40%;
    }
}

@media (max-width: 600px) {
    #hero p {
        font: 22px 'Raleway', sans-serif; 
        color: #000;
        -webkit-text-stroke: 0;
        z-index: 0;
    }
    #pic-1, #pic-2, #pic-3, #pic-4 {
        position: static;
        margin-bottom: 50px;
    }

    #pic-3 {
        top: 48%;
    }

    figcaption  {
        font: 1.2em Helvetica, sans-serif;
        letter-spacing: 2px;
    }
}

@media (max-width: 500px) {
    #hero p {
        position: static;
        margin-left: 0  ;
    }
    
    main {
        height: fit-content;
    } 

    #pic-1 img, #pic-2 img, #pic-3 img, #pic-4 img {
        opacity: 90%;
    }
    
   #pic-2 {
        top: 25%;    } 
    
}